= stylesheet_link_tag '/css/blog'
/ Navigation
%nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
          %span.icon-bar
            %span.icon-bar
              / Collect the nav links, forms, and other content for toggling
    #bart.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if defined? current_article
          %li
            %a{href: '/blog'} All posts
        %li
          %a{href: '/'} About
